body {
    width: 80%;
    margin: auto;
    font-family: 'Poppins';

}


#header img {
    border-radius: 100%;
    width: 271px;
    display: block;
    margin: auto;

}


#img-container  img {
    width: 70%;
}

.tag {
    border: none;
    color: #ffffff;
    background: lightgray;
    border-radius: 3px;
    padding: 4px;
    margin-top: 5px
}

a {
    text-decoration: none;
    color:#cc8500
}


.bordered {
    border: solid #9E9E9E 1px;
}


@media only screen and (max-width: 750px) {
    #img-container  img {
        width: 90%
    }
  }